 .navbar .mainMenu .nav>li:nth-child(2):before {
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/1931/2463/files/products-icon-white-retina.png?5679732336486258817);
  background-repeat: no-repeat;
  background-size: 78px;
  background-position: 10px 6px;
  padding: 0px 0px 30px 90px!important;
  margin-left: -117px;
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -17px;
}

.badge--menu,
badge {
  background-color: #8fd45d;
  color: #ffffff;
}

.badge--menu:after {
  border-top: 5px solid #8fd45d;
}

.top-links {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-style: initial;
}

.top-links:hover {
  color: #333333;
  text-decoration: none;
  font-weight: 100;
}

.index .no-margin {
  margin-bottom: -75px !important;
}

.index .title-with-button {
  margin-top: 50px;
}

.slider-product-large div img {
  width: 80%;
}


/*.white-modal .modal-header {
    border: none;
    padding: 0;
    margin: 20px -64px 18px 0px;
}

.row .content {
      width: 50%;
    float: right;
    top: -50px;
} NEEDS MOBILE WORK*/

.spot-button-type-1 {
  margin-top: 20px;
  border: none;
  background-color: #8fd45d;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 80px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.spot-button-type-2 {
  margin-top: 20px;
  border: none;
  background-color: #c48bc4;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 80px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.spot-button-type-3 {
  margin-top: 20px;
  border: none;
  background-color: #f69f9f;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 80px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.spot-button-type-4 {
  margin-top: 20px;
  border: none;
  background-color: #94cfd7;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 80px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.spot:hover {
  background-color: #333333 !important;
}

@media (max-width: 1770px) {
  .steps-tab input,
  .steps-tab label {
    display: none;
  }
  .three-step-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .skin-type-text {
    left: 100px;
    margin-top: 60px;
    position: absolute;
    width: 25%;
    padding: 20px;
  }
  .three-step {
    margin-left: 25%;
  }
  .three-step-carousel {
    height: 100%;
    overflow: hidden;
  }
  .three-step-single {
    width: 25%;
    float: left;
  }
}

@media (max-width: 410px) {
  .no-show {
    display: none;
  }
  .spot-button-type-1,
  .spot-button-type-2,
  .spot-button-type-3,
  .spot-button-type-4 {
    width: 100%
  }
  .three-step-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
  }
  .skin-type-text {
    position: relative;
    left: 0px;
    margin-top: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .three-step {
    margin-left: 0%;
  }
  .three-step-carousel {
    height: 100%;
    overflow: hidden;
  }
  .three-step-single {
    width: 100%;
    float: left;
    overflow: hidden;
  }
  /* 
  .faq-wrapper h1 {
  text-align: center;
}
.faq-wrapper .full {
  margin: auto;
  width: 100% !important;
  padding: 0 1em;
}

.faq-wrapper .tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.faq-wrapper input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq-wrapper label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: 200;
  line-height: 3;
  cursor: pointer;
}
.faq-wrapper .blue label {
  background: #f0f0f0;
}
.faq-wrapper .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #7ddad8;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.faq-wrapper .blue .tab-content {
  background: #ffffff !important;
}
.faq-wrapper .tab-content p {
  margin: 1em;
}

.faq-wrapper input:checked ~ .tab-content {
  max-height: 100% !important;
}
.faq-wrapper input:checked ~ label {
  font-weight: bold;
}

.faq-wrapper label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  color: #7ddad8;
}
.faq-wrapper input[type=checkbox] + label::after {
  content: "+";
}
.faq-wrapper input[type=radio] + label::after {
  content: "\25BC";
}
.faq-wrapper input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.faq-wrapper input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
End Accordion*/
}


/*Text Styles*/

.banner .figcaption .size4,
.banner .figcaption .size3 {
  text-shadow: 1px 1px 1px #444;
}

.3stepText {
  background-color: yellow;
}


/*Founder*/


/* CSS used here will be applied after bootstrap.css */

.founder-grid {
  width: 82%;
  margin: 0 auto;
}

.text-block {
  background-color: #f0f0f0;
  height: 340px;
  line-height: 340px;
  margin-top: 10px;
}

.text-block span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  text-align: justify;
  padding: 20px;
}

.founder-grid-container .col-sm-3 {
  padding-bottom: 10px;
}

.founder-grid-container .col-sm-6 {
  left: 8px;
  top: -10px;
}


/*End Founder*/

.product__inside__image {
  padding: 0px 40px 0 40px
}

.product:hover {
  border: none;
}

@media (min-width: 1299px) {
  .product {
    border: 1px solid #f0f0f0;
    /*min-height: 512px;*/
    margin-bottom: 20px !important;
    padding-top: 10px;
  }
}


/*Footer*/

.container.inset-bottom-60 {
  background-color: #f0f0f0;
  margin-top: -60px;
}

.footer_custom {
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
  margin-top: -40px;
  padding-right: 90px;
  padding-left: 90px;
}


/*End Footer*/

@media (min-width: 300px) and (max-width: 1024px) {
  .about-block {
    width: 100%;
    min-height: 514px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .search.open .search-dropdown {
    left: 18px;
    border: none !important;
  }
  @media (min-width: 1025px) and (max-width: 1770px) {
    .about-block {
      float: left;
      width: 45%;
      min-height: 514px;
      background-color: #f0f0f0;
      padding: 20px;
      margin-bottom: 20px;
      margin-left: 40px;
    }
  }
  .about-title {
    text-transform: uppercase;
    font-size: 35px;
    background-color: mediumvioletred;
    color: white;
    padding: 20px 20px 20px 30px;
    margin-left: -30px;
    text-align: center;
  }
  .about-paragraph {
    font-size: 16px;
    padding: 30px 25px 0px;
    text-align: justify;
  }
  .about-last {
    width: 95%;
    float: left;
    text-align: center;
    font-style: italic;
    font-size: 23px;
    color: teal;
  }
}


/*FAQ Accordion*/

.faq-wrapper h1 {
  text-align: center;
}

.faq-wrapper .full {
  margin: auto;
  width: 80%;
  padding: 0 1em;
}


/* styles */

.faq-wrapper .tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.faq-wrapper input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.faq-wrapper label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #16a085;
  font-weight: 200;
  line-height: 3;
  cursor: pointer;
}

.faq-wrapper .blue label {
  background: #f0f0f0;
}

.faq-wrapper .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #7ddad8;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.faq-wrapper .blue .tab-content {
  background: #7ddad8;
}

.faq-wrapper .tab-content p {
  margin: 1em;
}


/* :checked */

.faq-wrapper input:checked~ .tab-content {
  max-height: 10em;
}

.faq-wrapper input:checked~ label {
  font-weight: bold;
}


/* Icon */

.faq-wrapper label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  color: #7ddad8;
}

.faq-wrapper input[type=checkbox]+ label::after {
  content: "+";
}

.faq-wrapper input[type=radio]+ label::after {
  content: "\25BC";
}

.faq-wrapper input[type=checkbox]:checked+ label::after {
  transform: rotate(315deg);
}

.faq-wrapper input[type=radio]:checked+ label::after {
  transform: rotateX(180deg);
}


/*End Accordion*/

/*Cart - Popup*/

@media (min-width: 1025px) {
.cart .dropdown-menu.slide-from-top .cart__item__edit .icon, .cart .dropdown-menu.slide-from-top .cart__item__delete .icon {
    color: #999999;
}
  
  .cart .dropdown-menu.slide-from-top .cart__item__info__title h2 a {
    color: #999999 !important;
}
  
}

/*Header*/

@media (max-width: 1024px) {
#header .account .dropdown.text-right .dropdown-menu {
    right: -58px !important;
  }
  .cart .dropdown-menu .cart__close span {
    color: #999999;
  }
  .dropdown > a .icon {
    color: #ffffff;
  }
}

@media (max-width: 410px) {
  .link-inline {
    display: inline-block;
    padding-top: 0 !important;
  }
  
  #header .account {
    position: absolute;
    right: 58px;
    top: 106px;
    padding-right: 0 !important;
  }
  #header .mainMenu {
    padding-left: 0px;
  }
  .logo {
    position: absolute;
    margin: -50px 10px 3px 10px !important;
  }
  .modal-newsletter .logo {
    position: relative;
    margin: 0px 10px 3px 10px !important;
  }
  .navbar {
    position: static !important;
    margin-top: 0px;
  }
}

@media (min-width: 1050px) {
  #header.header-layout-09 .logo {
    position: relative;
    top: -17px;
    z-index: 777;
  }
  #header.header-layout-09 .navbar {
    float: left;
  }
  .stuck-nav {
    padding-left: 97px;
  }
}

.search-results {
  background: #ffffff !important;
}

.search-dropdown .input-outer {
  padding-right: 52px;
}

.search-dropdown {
  position: absolute;
  width: 50%;
  right: 0;
  z-index: 1;
  margin-top: -52px;
  margin-right: 95px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms 0s ease;
  -moz-transition: all 300ms 0s ease;
  -ms-transition: all 300ms 0s ease;
  -o-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
}

@media (min-width: 1025px) {
  .stuck-nav> div {
    margin-bottom: -7px !important;
  }
}

.megamenu {
  background-color: white !important;
}

.dropdown .product__inside {
  background-color: #ffffff;
}

ul.dropdown-menu.dropdown-menu--xs-full {
  background-color: white;
}

.navbar .mainMenu .dl-menu>li:nth-child(2):before {
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/1931/2463/files/products-icon-white-retina.png?5679732336486258817);
  background-repeat: no-repeat;
  background-size: 78px;
  background-position: 10px 6px;
  padding: 0px 0px 30px 90px!important;
  margin-left: -117px;
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -17px;
}

@media (min-width: 1050px) {
  .container {
    width: 100% !important;
    padding: 0 80px 0 80px !important;
  }
}


/*End Header*/

.slick-track {
  margin: auto;
}

.product {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.img-border-right {
  border-top: none;
  border-right: 1px solid #f0f0f0;
  border-bottom: none;
  border-left: none;
}

.img-border-left {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #f0f0f0;
} */
